#   Data Cleaning

* Author(s): Tomaso Stefanizzi
* Dataset: https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews?select=Books_rating.csv
* Description: Just simple data cleaning for building a subset of a very big dataset on books and reviews

## Imports

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Books

### Load books

In [51]:
books_path = 'data/books_data.csv'
books = pd.read_csv(books_path)
books.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [ ]:
def print_info(df):
    print('books shape: ', df.shape)
    print('books columns: ', df.columns)
    print('books info: ', df.info())
    print('books describe: ', df.describe())

In [52]:
print_info(books)

(212404, 10)

### drop null values

In [54]:
books.dropna(inplace=True)
books.shape

(40635, 10)

### drop some columns

In [56]:
books.drop(['previewLink', 'infoLink', 'image'], axis=1, inplace=True)

In [57]:
books.reset_index(drop=True, inplace=True)

In [58]:
#dropping books with multiple authors just for simplicity
multiple_authors_mask = books['authors'].apply(lambda x: len(eval(x)) > 1)

books = books[~multiple_authors_mask]
books.shape

(34175, 7)

In [59]:
#removing the square brackets from the authors column
books['authors'] = books['authors'].apply(lambda x : x[2:-2])

In [60]:
#removing the square brackets from the categories column
books['categories'] = books['categories'].apply(lambda x : x[2:-2])

### Select a subset of the dataset

In [65]:
#select the ratings between 10 and 1000
mask = (books['ratingsCount'] > 10) & (books['ratingsCount'] < 1000)
books = books[mask]
books.shape

(5298, 7)

In [48]:
#check the columns
books.columns

Index(['Title', 'description', 'authors', 'publisher', 'publishedDate',
       'categories', 'ratingsCount'],
      dtype='object')

# Ratings

### Load ratings

In [21]:
ratings_path = 'data/Books_rating.csv'
ratings = pd.read_csv(ratings_path)
ratings.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [22]:
#check the shape of the dataframe
ratings.shape

(3000000, 10)

In [23]:
#check the columns
ratings.columns

Index(['Id', 'Title', 'Price', 'User_id', 'profileName', 'review/helpfulness',
       'review/score', 'review/time', 'review/summary', 'review/text'],
      dtype='object')

### Select just the ratings that are in the cleaned version of books dataframe

In [24]:
#select a subset of rows where Title is in books['title']
ratings = ratings[ratings['Title'].isin(books['Title'])]
ratings.shape

(542762, 10)

In [29]:
print_info(ratings)

223282

### Drop null values

In [30]:
#drop null values
ratings.dropna(inplace=True)
ratings.shape

(50603, 10)

In [45]:
#reset index
ratings.reset_index(drop=True, inplace=True)

## Export files

In [47]:
output_path = 'output/books_clean.csv'
books.to_csv(output_path, index=False)

output_path = 'output/ratings_clean.csv'
ratings.to_csv(output_path, index=False)